[submodule "notebooks-scripts/ScriptsUncEst"]
	path = notebooks-scripts/ScriptsUncEst
	url = https://github.com/lfpc/ScriptsUncEst

[submodule "NN_models/pytorch-cifar"]
	path = NN_models/pytorch-cifar
	url = https://github.com/kuangliu/pytorch-cifar.git
